include ./tdd/*.py
include ./tdd/data/*.ttl
include ./tdd/data/*.json
include ./tdd/lib/*.js
recursive-include tdd/jsonld *.js

include ./scripts/*.py

include app.py
include README.md
include Dockerfile
include docker-compose.yml
include tox.ini
include setup.py
include package.json
include package-lock.json
include config.toml

include deployment/*.yaml

include fuseki-docker/**/*.ttl
include fuseki-docker/*.ttl
include fuseki-docker/databases/.hg_keep

exclude .gitlab-ci.yml
exclude .gitlab-ci-extended.yml

exclude pytest.ini
recursive-exclude tests *.json
recursive-exclude tests *.py
recursive-exclude tests *.jsonld
recursive-exclude tests *.ttl
recursive-exclude tests *.nquads
exclude tests/data/smart-coffee-machine.n3
exclude tests/data/smart-coffee-machine.xml

prune doc
prune node_modules
